//Шрифт
$font_main: 'Merriweather', serif;
$font_second: 'Montserrat', sans-serif;

//Внутренний размер контента
$page_inner_width: 1770px;
//Размер контента
$page_content_width: 1390px;

//Градиенты
$gradient_main: linear-gradient(125.47deg, #1b63fe -14.00%, #0027ba 26.9%, #f5f5f5 65.53%, #000000 83.95%);